@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
} */
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* レイアウト用 */
body {
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #383838;
	width: 100%;
	min-width: 375px;
	text-align: center;
	margin: 0 auto;
}
#wrapper {
	margin: 0 auto;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}
#overlay{
    display: none;
    width: 100%;
    height:100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}
#overlay ul{
  padding-left: 0px;
  padding-top: 10px;
}
#overlay ul li{
  padding-left: 0px;
  list-style-type: none;
  margin-top: 20px;
}
#overlay ul li a{
  color: #383838;
  text-decoration: none;
  font-size: 130%;
}
#overlay ul li a:hover{
background:none;
}
h2 {
	writing-mode: vertical-rl;
	font-size: 11px;
	letter-spacing: 1px;
	border-right: 5px solid #FAE8B5;
	padding: 0 5px;
	margin-bottom: -1px;
}
p {
	font-size: 11px
}
a {
	text-decoration: none;
	color: #383838;
}
a:hover {
	color: #a7a7a7;
}
.br-sp {
	display: block;
}
#cuisines #cuisines01,
#cuisines #cuisines02 {
	display: none;
}
#cuisines #cuisines03,
#cuisines #cuisines04,
#cuisines #cuisines05 {
	display: block;
}
#news-sp {
	display: none;
}
.insta-sp {
	display: none;
}

#photos ul li:last-child {
display: none;
}

/* header用 */
header {
	width: 100%;
	height: 296px;
}
header h1 img {
	width: 90px;
	height: 26px;
	margin: 24px auto;
}
header div#mainimage {
	background-image: url("images/top.png");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75%;
}

/* intro用 */
#intro {
	width: 100%;
	height: 420px;
	position: relative;
	margin: 23px auto 36px auto;
}
#intro h2 {
	position: absolute;
	top: 37px;
	right: 21px;
}
#intro p {
	line-height: 29px;
	padding-top: 107px;
}
#intro img#introleft {
	width: 140px;
	height: 140px;
	position: absolute;
	top: -15px;
	left: -43px;
}
#intro img#introright {
	width: 189.5px;
	height: 126.4px;
	position: absolute;
	bottom: 0;
	right: -50px;
}

/* cuisines用 */
#cuisines {
	width: 100%;
	height: 510px;
	position: relative;
}
#cuisines h2 {
	position: absolute;
	top: 0px;
	right: 21px;
}
#cuisines #cuisines-sp {
	position: absolute;
	top: 24px;
	right: 36px;
}
#cuisines #cuisines03 div {
	display: inline-block;
	margin: 0 1.8vw;
	font-size: 0;
}
#cuisines #cuisines04 div {
	display: inline-block;
	margin: 2.6vw 1.8vw;
	font-size: 0;
}
#cuisines #cuisines05 div {
	display: inline-block;
	margin: 0 1.8vw;
	font-size: 0;
}
.cuisine03sm {
	width: 23.2vw;
	min-width: 87px;
	height: 34.7vw;
	min-height: 130px;
}
.cuisine03bg {
	width: 50.1vw;
	min-width: 187.9px;
	height: 34.7vw;
	min-height: 130px;
}
#cuisines0301 {
	background-image:url(images/cuisines08.png);
	background-size: contain;
}
#cuisines0302 {
	background-image:url(images/cuisines04.png);
	background-size: cover;
}
#cuisines0401 {
	background-image:url(images/cuisines02.png);
	background-size: contain;
}
#cuisines0402 {
	background-image:url(images/cuisines07.png);
	background-size: contain;
}
#cuisines0403 {
	background-image:url(images/cuisines01.png);
	background-size: contain;
}
#cuisines0501 {
	background-image:url(images/cuisines03.png);
	background-size: cover;
}
#cuisines0502 {
	background-image:url(images/cuisines05.png);
	background-size: contain;
}
#cuisines a {
	font-size: 11px;
	width: 134px;
	display: block;
	margin: 37px auto 29px auto;
}
#cuisines0301,
#cuisines0302,
#cuisines0401,
#cuisines0402,
#cuisines0403,
#cuisines0501,
#cuisines0502 {
background-repeat: no-repeat;
}

/* potter用 */
#potter {
	width: 100%;
	position: relative;
}
#potter h2 {
	position: absolute;
	top: 179px;
	right: 21px;
}
#potter img {
	width: 205px;
	height: 210px;
}
#potter div#pottercontents {
	margin: 0 auto;
	width: 287px;
}
#potter p {
	line-height: 29px;
	text-align: left;
}
#potter p span {
	display: inline-block;
}
#potter p span#pottershop {
	font-size: 13px;
	margin-top: 1px;
	margin-bottom: 2px;
}
#potter p span#pottername {
	margin-bottom: 36px;
}
#potter p a {
	display: inline-block;
	margin-top: 45px;
	margin-bottom: 83px;
}

/* photos用 */
#photos {
	width: 100%;
	height: 125px;
}
#photos ul li {
	display: inline-block;
	margin: 0 5px;
}
/*#photos .photobg {
	width: 60px;
	height: 120px;
}
#photos .photosm {
	width: 30px;
	height: 120px;
}*/
#photos .photobg {
	width: 157px;
	height: 125px;
}
#photos .photosm {
	width: 83px;
	height: 125px;
}

/* big用 */
#big {
	width: 100%;
	margin: 44px 0 0 0;
	height: 337px;
	background-image: url("images/4.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* news用 */
#news {
	width: 100%;
	height: 225px;
	position: relative;
}
#news h2 {
	position: absolute;
	top: 0;
	right: 21px;
}
#news ul {
	padding-top: 17px;
}
#news ul li {
	width: 280px;
	margin: 0 auto;
	font-size: 10px;
	line-height: 50px;
	border-bottom: 2px solid #383838;
	text-align: left;

}
/* #news ul li:last-child {
	border: none;
	margin-top: 18px;
	text-align: center;
} */
#news ul li:after {
	content: "▶";
}
/* #news ul li:last-child:after {
	content: "";
} */
#news ul li span.newscon {
	display: inline-block;
	margin-left: 11px;
}
#news ul li span#newscon1 {
	margin-right: 12px;
}
#news ul li span#newscon2 {
	margin-right: 60px;
}
#news ul li a#past {
	font-size: 13px;
	width: 180px;
	display: block;
	margin: 28px auto;
}

/* calendar用 */
#calendar {
	width: 100%;
	position: relative;
	padding-top: 24px;
}
#calendar h2 {
	position: absolute;
	top: 0;
	right: 21px;
}
#calendar img {
	width: 287px;
	height: 270px;
}
#calendar a {
	font-size: 11px;
	width: 130px;
	display: block;
	margin: 36px auto 22px auto;
}

/* article用 */
.lock {
    overflow:hidden;
}
.modal-content {
	width: 78.7vw;
	height: auto;
	min-height: 100%;
	margin: 0;
	padding: 38px;
	border: 2px solid #aaa;
	background: #fff;
    position:relative;
    display:none;
    text-align: left;
}
.modal-content p {
    margin:0;
    padding:0;
}
.modal-overlay {
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.75);
}
.modal-wrap {
    z-index:500;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:auto;
}
.modal-open:hover,
.modal-close:hover {
	cursor: pointer;
}
.modal-content h2 {
	position: absolute;
	top: 37px;
	left: 7px;
}
.modal-content a.modal-close {
	position: absolute;
	top: 28px;
	right: 30px;
}
.modal-content a.modal-close img {
	width: 15px;
	height: 15px;
}
.modal-content .articlecontent {
	width: 60vw;
	min-width: 270px;
	margin-top: 19px;
	margin-left: 49px;
}
.modal-content .articlecontent h3 {
	font-size: 11px;
}
.modal-content .articlecontent h3 span {
	font-size: 10px;
	line-height: 23px;
}
.modal-content .articlecontent p {
	font-size: 10px;
	color: #383838;
}
.modal-content .articlecontent p.articlep1 {
	margin-top: 76px;
	margin-bottom: 25px;
	letter-spacing: 0.3px;
	line-height: 21px;
}
.modal-content .articlecontent p.articlep2 {
	margin-top: 52px;
	margin-bottom: 48px;
}
.modal-content .articlecontent p.articlep3 {
	margin-top: 52px;
}
.modal-content .articlecontent img.articleimg1 {
	display: inline-block;
	margin-left: 2.5px;
	width: 127px;
	height: 187px;
}
.modal-content .articlecontent img#articleimg1-1 {
	margin-left: 0;
}
.modal-content .articlecontent img.articleimg2,
.modal-content .articlecontent img.articleimg3 {
	display: inline-block;
}
#article #con1 .articlecontent img {
	width: 280px;
	height: 275px;
}

/* dishes用 */
#dishes {
	width: 100%;
}
#dishes img {
	width: 268px;
	height: 141px;
	margin-top: 47px;
	margin-bottom: 75px;
}

/* instagram用 */
#instagram {
	width: 100%;
}
#instagram h2 {
	writing-mode: horizontal-tb;
	margin: 0 auto;
	width: 84px;
	font-size: 11px;
	letter-spacing: 1px;
	border-right: none;
	border-bottom: 5px solid #FAE8B5;
	padding: 4px;
}
#instagram p {
	font-size: 10px;
	margin-top: 11px;
	margin-bottom: 21px;
}
#instagram img {
	font-size: 0;
	width: 23%;
	height: 23%;
	margin: 1%;
}
#instagram #insta01:first-child,
#instagram #insta02:first-child {
	margin-left: 0;
}
#instagram #insta01:nth-child(4),
#instagram #insta02:nth-child(4) {
	margin-right: 0;
}
/* footer用 */
footer {
	width: 100%;
}
footer img#footerlogo {
	width: 103px;
	height: 29px;
	margin: 60px auto 48px auto;
}
footer nav ul li {
	font-size: 11px;
	line-height: 31px;
}
footer nav ul li#footeradd {
	font-size: 11px;
	margin-top: -14px;
	letter-spacing: 0.06em;
}
footer nav ul li#footertel {
	font-size: 11px;
	margin-top: 68px;
}

footer img#footerdishes {
	width: 229px;
	height: 87px;
	margin: 83px auto 18px auto;
}
footer p {
	font-size: 9px;
	margin: 52px auto;
}
